<ion-header class="ion-no-border bg-blue-500 text-white">
  <ion-toolbar class="ion-align-items-center ion-justify-content-between">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Paramètres</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-icon name="chatbubbles-outline" color="dark"></ion-icon>
    <span class="mx-1">Langues</span>
    <ion-icon
      name="chevron-forward-outline"
      color="dark"
      style="font-size: 1rem; margin-left: auto"
    ></ion-icon>
  </ion-item>

  <ion-item>
    <ion-icon name="chatbubbles-outline" color="dark"></ion-icon>
    <span class="mx-1">Mode </span>
    <ion-icon
      name="chevron-forward-outline"
      color="dark"
      style="font-size: 1rem; margin-left: auto"
    ></ion-icon>
  </ion-item>
</ion-content>
