<ion-header class="ion-no-border bg-blue-500 text-white">
  <ion-toolbar>
    <ion-buttons slot="start" class="d-none">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-segment [(ngModel)]="selected">
      <ion-segment-button value="ajouter"  *ngIf="account.account === 'admin'">
        <ion-label>Ajouter</ion-label>
      </ion-segment-button>
      <ion-segment-button value="lister" *ngIf="account.account === 'admin'">
        <ion-label>Liste</ion-label>
      </ion-segment-button>
      <ion-segment-button value="verifier" *ngIf="account.account === 'admin' || account.account === 'driver'">
        <ion-label>Accès</ion-label>
      </ion-segment-button>
      <ion-segment-button value="qrcode" *ngIf="account.account === 'student'">
        <ion-label>Qrcode</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="selected === 'ajouter'" class="p-3">
    <app-ajouter-student *ngIf="isConnected"></app-ajouter-student>
    <app-ajouter-student-skeleton
      *ngIf="!isConnected"
    ></app-ajouter-student-skeleton>
  </div>
  <div *ngIf="selected === 'lister'" class="p-3">
    <app-lister-student *ngIf="isConnected"></app-lister-student>
    <app-liste-stutent-skeleton
      *ngIf="!isConnected"
    ></app-liste-stutent-skeleton>
  </div>
  <div *ngIf="selected === 'verifier'" class="p-3">
    <ion-segment
      [(ngModel)]="selected1"
      mode="ios"
      class="ion-no-border ion-segment"
    >
      <ion-segment-button value="new">
        Prolonger Accessibilité
      </ion-segment-button>
      <ion-segment-button value="check"> Valider Accès Bus </ion-segment-button>
    </ion-segment>

    <div *ngIf="selected1 === 'new'" class="p-3">
      <app-prolonge-student-accessibilite-bus></app-prolonge-student-accessibilite-bus>
    </div>

    <div *ngIf="selected1 === 'check'" class="p-3">
      <span class="p-4">
        <ion-button
          expand="block"
          class="text-capitalise mb-4"
          (click)="startScanner()"
          [hidden]="scanActive"
        >
          Scanner le QrCode <ion-icon name="qr-scanner"></ion-icon>
        </ion-button>
      </span>

      <p class="p-4" *ngIf="result && !scanActive">{{result}}</p>

      <ion-row class="scanner-buttons" [hidden]="!scanActive">
        <ion-col class="ion-no-padding">
          <ion-button expand="full" (click)="stopScan()">
            Stopper le Scan
          </ion-button>
        </ion-col>
      </ion-row>

      <div class="scan-box" *ngIf="!scanActive"></div>
    </div>
  </div>
  <div *ngIf="selected === 'qrcode'" class="p-3">
    <div class="p-4">
      <span class="p-3" style="margin-left: auto; margin-right: auto">
        <ion-grid fixed>
          <ion-row>
            <ion-col size="1"></ion-col>
            <ion-col size="10">
              <ion-button
                expand="block"
                class="text-capitalise mb-4"
                (click)="demanderQrcode()"
              >
                {{qrcodeText}}
              </ion-button>
              <qrcode
                [qrdata]="qrData"
                *ngIf="qrcodeVisibility"
                [width]="256"
                [errorCorrectionLevel]="'M'"
                [imageSrc]="'./assets/icon/favicon.png'"
                [imageHeight]="75"
                [imageWidth]="75"
              ></qrcode>
            </ion-col>
            <ion-col size="1"></ion-col>
          </ion-row>
        </ion-grid>
      </span>
    </div>
  </div>
</ion-content>
