ion-segment {
  width: 60%;
  --border: none;
  margin-left: auto;
  margin-right: auto;
  background: transparent;
  text-transform: capitalize;
}

ion-segment-button {
  text-transform: capitalize;
  --indicator-color: var(--ion-color-dark);
}

ion-segment-button.md {
  text-transform: capitalize;
  --color-checked: var(--ion-color-dark);
}

.custom-searchbar {
  --ion-background-color: transparent;
  border: none;
}


ion-card {
  padding: 1%;
  border: none;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);

  img {
    border-radius: 10px;
    width: 100px;
  }

  ion-grid {
    ion-row {
      ion-col {
        h4 {
          margin: 0;
          font-size: 0.8rem;
          padding-top: 5px;
          font-weight: 600;
          color: var(--ion-color-dark);

          span {
            color: var(--ion-color-medium);
            float: inline-end;
            margin-right: 10px;
          }
        }
      }
    }
  }
}