<ion-header class="ion-no-border bg-blue-500 text-white">
  <ion-toolbar class="ion-align-items-center ion-justify-content-between">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-segment [(ngModel)]="selected">
      <ion-segment-button value="ajouter">
        <ion-label>Ajouter</ion-label>
      </ion-segment-button>
      <ion-segment-button value="liste">
        <ion-label>Liste</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="selected === 'ajouter'">
    <form
      [formGroup]="save"
      novalidate
      (ngSubmit)="addData()"
      class="p-3"
      *ngIf="isConnected"
    >
      <div class="mb-4">
        <ion-input
          label="Noms & Prénoms"
          type="text"
          label-placement="floating"
          fill="outline"
          placeholder="Entrez le nom complet...."
          [clearInput]="true"
          autocomplete="off"
          autocorrect="on"
          formControlName="fullname"
        ></ion-input>

        <span
          *ngIf="
            this.save.controls?.fullname.touched &&
            this.save.controls?.fullname.invalid
          "
        >
          <div
            class="ion-padding"
            *ngIf="this.save.controls?.fullname.errors?.required"
          >
            <ion-text color="danger"
              >Désolé mais ce champs est obligatoire.</ion-text
            >
          </div>
          <div
            class="ion-padding"
            color="danger"
            *ngIf="this.save.controls?.fullname.errors?.minlength"
          >
            <ion-text color="danger"
              >Renseignez au moins 06 caractères.</ion-text
            >
          </div>
        </span>
      </div>

      <div class="mb-4">
        <ion-input
          label="Téléphone"
          type="text"
          label-placement="floating"
          fill="outline"
          placeholder="Entrez le numéro de téléphone...."
          [clearInput]="true"
          autocomplete="off"
          autocorrect="on"
          formControlName="phone"
        ></ion-input>
        <span
          *ngIf="
            this.save.controls?.phone.touched && this.save.controls?.phone.invalid
          "
        >
          <div
            class="ion-padding"
            *ngIf="this.save.controls?.phone.errors?.required"
          >
            <ion-text color="danger"
              >Désolé mais ce champs est obligatoire.</ion-text
            >
          </div>
          <div
            class="ion-padding"
            color="danger"
            *ngIf="this.save.controls?.phone.errors?.minlength"
          >
            <ion-text color="danger"
              >Renseignez exactement 09 caractères.</ion-text
            >
          </div>
          <div
            class="ion-padding"
            color="danger"
            *ngIf="this.save.controls?.matricule.errors?.pattern"
          >
            <ion-text color="danger"
              >Le numéro doit commencer par << 6 >>.</ion-text
            >
          </div>
        </span>
      </div>

      <div class="mb-4">
        <ion-input
          label="Adresse Email"
          type="text"
          label-placement="floating"
          fill="outline"
          placeholder="Entrez le l'email...."
          [clearInput]="true"
          autocomplete="off"
          autocorrect="on"
          formControlName="email"
        ></ion-input>
        <span
          *ngIf="this.save.controls?.email.touched && this.save.controls?.email.invalid"
        >
          <div
            class="ion-padding"
            *ngIf="this.save.controls?.email.errors?.required"
          >
            <ion-text color="danger"
              >Désolé mais ce champs est obligatoire.</ion-text
            >
          </div>
          <div
            class="ion-padding"
            color="danger"
            *ngIf="this.save.controls?.email.errors?.pattern"
          >
            <ion-text color="danger"
              >Cette adresse email n'est pas de S<sup>t</sup> Jean.</ion-text
            >
          </div>
        </span>
      </div>

      <div class="mb-4">
        <ion-input
          label="CNI"
          type="text"
          label-placement="floating"
          fill="outline"
          placeholder="Entrez le numéro de CNI...."
          [clearInput]="true"
          autocomplete="off"
          autocorrect="on"
          formControlName="cni"
        ></ion-input>
        <span
          *ngIf="
            this.save.controls?.cni.touched && this.save.controls?.cni.invalid
          "
        >
          <div
            class="ion-padding"
            *ngIf="this.save.controls?.cni.errors?.required"
          >
            <ion-text color="danger"
              >Désolé mais ce champs est obligatoire.</ion-text
            >
          </div>
          <div
            class="ion-padding"
            color="danger"
            *ngIf="this.save.controls?.cni.errors?.minlength"
          >
            <ion-text color="danger"
              >Renseignez au moins 10 caractères.</ion-text
            >
          </div>
        </span>
      </div>

      <div class="grid grid-cols-2 gap-6 mb-4">
        <div>
          <ion-button expand="block" color="danger" (click)="takePicture()">
            Annuler
          </ion-button>
        </div>
        <div>
          <ion-button
            expand="block"
            type="submit"
            [disabled]="!save.valid || !isReady"
          >
            Enregistrer
          </ion-button>
        </div>
      </div>

      <img *ngIf="image" [src]="image" width="100%" height="40%" />

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button size="small" color="dark" (click)="takePicture()">
          <ion-icon name="camera-reverse-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </form>

    <form *ngIf="!isConnected" class="p-3">
      <!-- Repeatable skeleton text -->
      <ng-container *ngFor="let _ of [1, 2, 3, 4]">
        <div class="mb-4">
          <ion-skeleton-text
            [animated]="true"
            style="height: 40px"
          ></ion-skeleton-text>
        </div>
      </ng-container>

      <!-- Grid of skeleton texts -->
      <div class="grid grid-cols-2 gap-6 mb-4">
        <ng-container *ngFor="let _ of [1, 2]">
          <div>
            <ion-skeleton-text
              [animated]="true"
              style="height: 40px"
            ></ion-skeleton-text>
          </div>
        </ng-container>
      </div>

      <!-- Skeleton text inside fab -->
      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-skeleton-text
          [animated]="true"
          style="height: 50px; width: 50px; border-radius: 50px"
        ></ion-skeleton-text>
      </ion-fab>

      <!-- Loading indicator -->
      <ion-item class="mt-5">
        <ion-spinner name="bubbles" slot="start"></ion-spinner>
        <ion-label> Veillez vous connecter à internet... </ion-label>
      </ion-item>
    </form>
  </div>

  <div *ngIf="selected === 'liste'">
    <ion-searchbar
      placeholder="Filtrez les informations des gestionnaires....."
      inputmode="text"
      type="text"
      class="custom-searchbar bg-transparent border-none"
      *ngIf="selected === 'liste'"
      style="border: none"
    ></ion-searchbar>

    <ion-list lines="none" *ngIf="!isConnected">
      <ng-container>
        <!-- Display ion-spinner and loading message -->
        <ion-item class="mt-6 mb-6">
          <ion-spinner name="bubbles" slot="start"></ion-spinner>
          <ion-label> Veillez vous connecter à internet... </ion-label>
        </ion-item>

        <ion-item *ngFor="let section of [1, 2, 3, 4, 5]">
          <ion-thumbnail slot="start" style="width: 30%; height: 100px">
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-thumbnail>
          <ion-label class="ion-padding-start">
            <ng-container *ngFor="let content of ['h3', 'p', 'p', 'p', 'h3']">
              <ng-container *ngIf="content === 'h3'; else paragraph">
                <h3>
                  <ion-skeleton-text
                    [animated]="true"
                    [class]="getSkeletonClass(content)"
                  ></ion-skeleton-text>
                </h3>
              </ng-container>
              <ng-template #paragraph>
                <p>
                  <ion-skeleton-text
                    [animated]="true"
                    [class]="getSkeletonClass(content)"
                  ></ion-skeleton-text>
                </p>
              </ng-template>
            </ng-container>
          </ion-label>
        </ion-item>
      </ng-container>
    </ion-list>

    <ion-card *ngFor="let item of data" (click)="actionSheetData(item)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <img
              [src]="item.picture"
              alt=""
              srcset=""
              width="100%"
              height="100px"
            />
          </ion-col>
          <ion-col size="8">
            <h4>
              <span> {{item.fullname}} </span>
              Nom(s) :
            </h4>
            <h4>
              <span>{{item.phone}} </span>
              Contact :
            </h4>
            <h4>
              <span>{{ maskEmail(item.email) }} </span>
              Email :
            </h4>
            <h4>
              <span>{{item.cni}} </span>
              CNI :
            </h4>
            <h4>
              <span> {{item.createdAt}} </span>
              Date Création :
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <span *ngIf="data.length < 1">
      <img src="assets/avatars/no-data.png" alt="No data" />
      <div style="text-align: center !important">Aucune donnée disponible</div>
    </span>
  </div>
</ion-content>

<ion-modal
  [isOpen]="isModalOpen"
  [initialBreakpoint]="0.98"
  [breakpoints]="[0, 0, 0, 0]"
>
  <ng-template>
    <ion-content>
      <div class="p-3">
        <div class="mt-4">
          <form
            [formGroup]="save"
            novalidate
            (ngSubmit)="updateData()"
            class="p-3"
            *ngIf="isConnected"
          >
            <div class="mb-4">
              <ion-input
                label="Noms & Prénoms"
                type="text"
                label-placement="floating"
                fill="outline"
                placeholder="Entrez le nom complet...."
                [clearInput]="true"
                autocomplete="off"
                autocorrect="on"
                formControlName="fullname"
                [(ngModel)]="readyToUpdate.fullname"
              ></ion-input>

              <span
                *ngIf="
            this.save.controls?.fullname.touched &&
            this.save.controls?.fullname.invalid
          "
              >
                <div
                  class="ion-padding"
                  *ngIf="this.save.controls?.fullname.errors?.required"
                >
                  <ion-text color="danger"
                    >Désolé mais ce champs est obligatoire.</ion-text
                  >
                </div>
                <div
                  class="ion-padding"
                  color="danger"
                  *ngIf="this.save.controls?.fullname.errors?.minlength"
                >
                  <ion-text color="danger"
                    >Renseignez au moins 06 caractères.</ion-text
                  >
                </div>
              </span>
            </div>

            <div class="mb-4">
              <ion-input
                label="Téléphone"
                type="text"
                label-placement="floating"
                fill="outline"
                placeholder="Entrez le numéro de téléphone...."
                [clearInput]="true"
                autocomplete="off"
                autocorrect="on"
                formControlName="phone"
                [(ngModel)]="readyToUpdate.phone"
              ></ion-input>
              <span
                *ngIf="
            this.save.controls?.phone.touched && this.save.controls?.phone.invalid
          "
              >
                <div
                  class="ion-padding"
                  *ngIf="this.save.controls?.phone.errors?.required"
                >
                  <ion-text color="danger"
                    >Désolé mais ce champs est obligatoire.</ion-text
                  >
                </div>
                <div
                  class="ion-padding"
                  color="danger"
                  *ngIf="this.save.controls?.phone.errors?.minlength"
                >
                  <ion-text color="danger"
                    >Renseignez exactement 09 caractères.</ion-text
                  >
                </div>
                <div
                  class="ion-padding"
                  color="danger"
                  *ngIf="this.save.controls?.matricule.errors?.pattern"
                >
                  <ion-text color="danger"
                    >Le numéro doit commencer par << 6 >>.</ion-text
                  >
                </div>
              </span>
            </div>

            <div class="mb-4">
              <ion-input
                label="Adresse Email"
                type="text"
                label-placement="floating"
                fill="outline"
                placeholder="Entrez le l'email...."
                [clearInput]="true"
                autocomplete="off"
                autocorrect="on"
                formControlName="email"
                [(ngModel)]="readyToUpdate.email"
              ></ion-input>
              <span
                *ngIf="this.save.controls?.email.touched && this.save.controls?.email.invalid"
              >
                <div
                  class="ion-padding"
                  *ngIf="this.save.controls?.email.errors?.required"
                >
                  <ion-text color="danger"
                    >Désolé mais ce champs est obligatoire.</ion-text
                  >
                </div>
                <div
                  class="ion-padding"
                  color="danger"
                  *ngIf="this.save.controls?.email.errors?.pattern"
                >
                  <ion-text color="danger"
                    >Cette adresse email n'est pas de S<sup>t</sup>
                    Jean.</ion-text
                  >
                </div>
              </span>
            </div>

            <div class="mb-4">
              <ion-input
                label="CNI"
                type="text"
                label-placement="floating"
                fill="outline"
                placeholder="Entrez le numéro de CNI...."
                [clearInput]="true"
                autocomplete="off"
                autocorrect="on"
                formControlName="cni"
                [(ngModel)]="readyToUpdate.cni"
                readonly
              ></ion-input>
              <span
                *ngIf="
            this.save.controls?.cni.touched && this.save.controls?.cni.invalid
          "
              >
                <div
                  class="ion-padding"
                  *ngIf="this.save.controls?.cni.errors?.required"
                >
                  <ion-text color="danger"
                    >Désolé mais ce champs est obligatoire.</ion-text
                  >
                </div>
                <div
                  class="ion-padding"
                  color="danger"
                  *ngIf="this.save.controls?.cni.errors?.minlength"
                >
                  <ion-text color="danger"
                    >Renseignez au moins 10 caractères.</ion-text
                  >
                </div>
              </span>
            </div>

            <div class="grid grid-cols-2 gap-6 mb-4">
              <div>
                <ion-button
                  expand="block"
                  color="danger"
                  (click)="takePicture()"
                >
                  Annuler
                </ion-button>
              </div>
              <div>
                <ion-button
                  expand="block"
                  type="submit"
                  [disabled]="!save.valid || !isReady"
                >
                  Modifier
                </ion-button>
              </div>
            </div>

            <img *ngIf="image" [src]="image" width="100%" height="40%" />

            <ion-fab slot="fixed" vertical="bottom" horizontal="end">
              <ion-fab-button size="small" color="dark" (click)="takePicture()">
                <ion-icon name="camera-reverse-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>
          </form>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
