<ion-header>
  <ion-toolbar>
    <ion-searchbar
      placeholder="Filtrez les informations des bus....."
      (ionInput)="handleInput($event)"
      inputmode="text"
      type="text"
      class="custom-searchbar bg-transparent border-none"
      style="border: none"
    ></ion-searchbar>
  </ion-toolbar>
</ion-header>

<div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-4 lg:grid-cols-3">
  <ng-container *ngFor="let item of data">
    <ion-card (click)="actionSheetData(item)">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="4">
            <img [src]="item.picture" alt="" width="100%" height="100px" />
          </ion-col>
          <ion-col size="8">
            <h4>
              <span>{{ item.registration }}</span> Immatriculation :
            </h4>
            <h4>
              <span>{{ item.driver }}</span> Chauffeur :
            </h4>
            <h4>
              <span>{{ item.type }}</span> Type :
            </h4>
            <h4>
              <span
                style="width: 50px; height: 20px; border-radius: 5px; background-color: {{
                  item.color
                }}"
              ></span>
              Couleur :
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ng-container>
</div>

<ion-modal
  [isOpen]="isModalOpen"
  [initialBreakpoint]="0.98"
  [breakpoints]="[0, 0, 0, 0]"
>
  <ng-template>
    <ion-content>
      <div class="container-fluid">
        <div class="p-3">
          <form [formGroup]="save" (ngSubmit)="updateData()" novalidate>
            <ion-fab slot="fixed" vertical="bottom" horizontal="end">
              <ion-fab-button size="small" color="dark" (click)="takePicture()">
                <ion-icon name="camera-reverse-outline"></ion-icon>
              </ion-fab-button>
            </ion-fab>

            <div class="mb-4 mt-4">
              <ion-input
                label="Immatriculation"
                type="text"
                label-placement="floating"
                fill="outline"
                placeholder="Entrez le numéro d'immatriculation...."
                [clearInput]="true"
                autocomplete="off"
                autocorrect="on"
                formControlName="registration"
                [(ngModel)]="readyToUpdate.registration"
                readonly
              ></ion-input>
              <span
                *ngIf="
                  this.save.controls?.registration.touched &&
                  this.save.controls?.registration.invalid
                "
              >
                <div
                  class="ion-padding"
                  *ngIf="this.save.controls?.registration.errors?.required"
                >
                  <ion-text color="danger"
                    >Désolé mais ce champs est obligatoire.</ion-text
                  >
                </div>
                <div
                  class="ion-padding"
                  color="danger"
                  *ngIf="this.save.controls?.registration.errors?.minlength"
                >
                  <ion-text color="danger"
                    >Renseignez au moins 06 caractères.</ion-text
                  >
                </div>
                <div
                  class="ion-padding"
                  color="danger"
                  *ngIf="this.save.controls?.registration.errors?.maxlength"
                >
                  <ion-text color="danger"
                    >Renseignez au plus 20 caractères.</ion-text
                  >
                </div>
              </span>
            </div>

            <div class="mb-4">
              <ion-input
                label="Couleur"
                type="color"
                label-placement="floating"
                fill="outline"
                [clearInput]="true"
                autocomplete="off"
                autocorrect="on"
                formControlName="color"
                [(ngModel)]="readyToUpdate.color"
              ></ion-input>
              <span
                *ngIf="
                  this.save.controls?.color.touched &&
                  this.save.controls?.color.invalid
                "
              >
                <div
                  class="ion-padding"
                  *ngIf="this.save.controls?.color.errors?.required"
                >
                  <ion-text color="danger"
                    >Désolé mais ce champs est obligatoire.</ion-text
                  >
                </div>
              </span>
            </div>

            <div class="mb-4">
              <ion-select
                label="Catégorie Véhicule"
                label-placement="floating"
                fill="outline"
                multiple="false"
                placeholder="ex : Coaster"
                formControlName="type"
                [(ngModel)]="readyToUpdate.type"
              >
                <ion-select-option>Break</ion-select-option>
                <ion-select-option>Coaster</ion-select-option>
                <ion-select-option>Monospace</ion-select-option>
                <ion-select-option>Grand Tourisme</ion-select-option>
              </ion-select>
              <span
                *ngIf="
                  this.save.controls?.type.touched &&
                  this.save.controls?.type.invalid
                "
              >
                <div
                  class="ion-padding"
                  *ngIf="this.save.controls?.type.errors?.required"
                >
                  <ion-text color="danger"
                    >Désolé mais ce champs est obligatoire.</ion-text
                  >
                </div>
              </span>
            </div>

            <div class="mb-4">
              <ion-select
                label="Chauffeur"
                [(ngModel)]="selectedOption"
                label-placement="floating"
                fill="outline"
                multiple="false"
                placeholder="ex : Kaiboy"
                formControlName="driver"
                [(ngModel)]="readyToUpdate.driver"
              >
                <ion-select-option
                  *ngFor="let option of options"
                  [value]="option"
                >
                  {{ option }}
                </ion-select-option>
              </ion-select>
              <span
                *ngIf="
                  this.save.controls?.driver.touched &&
                  this.save.controls?.driver.invalid
                "
              >
                <div
                  class="ion-padding"
                  *ngIf="this.save.controls?.driver.errors?.required"
                >
                  <ion-text color="danger"
                    >Désolé mais ce champs est obligatoire.</ion-text
                  >
                </div>
              </span>
            </div>

            <ion-grid fixed>
              <ion-row>
                <ion-col size="6">
                  <ion-button expand="block" type="reset" color="danger">
                    Annuler <ion-icon name="close-circle-outline"></ion-icon>
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button
                    expand="block"
                    type="submit"
                    [disabled]="!save.valid"
                  >
                    Modifier <ion-icon name="save-outline"></ion-icon>
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
            <!-- [disabled]="!isReady" -->
            <div class="mx-auto" style="margin-left: auto; margin-right: auto">
              <img *ngIf="image" [src]="image" width="60%" />
            </div>
          </form>
        </div>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
