<form>
  <!-- Repeatable skeleton text -->
  <ng-container *ngFor="let _ of [1, 2, 3, 4]">
    <div class="mb-4">
      <ion-skeleton-text
        [animated]="true"
        style="height: 40px"
      ></ion-skeleton-text>
    </div>
  </ng-container>

  <!-- Grid of skeleton texts -->
  <div class="grid grid-cols-2 gap-6 mb-4">
    <ng-container *ngFor="let _ of [1, 2]">
      <div>
        <ion-skeleton-text
          [animated]="true"
          style="height: 40px"
        ></ion-skeleton-text>
      </div>
    </ng-container>
  </div>

  <!-- Skeleton text inside fab -->
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-skeleton-text
      [animated]="true"
      style="height: 50px; width: 50px; border-radius: 50px"
    ></ion-skeleton-text>
  </ion-fab>

  <!-- Loading indicator -->
  <ion-item class="mt-5">
    <ion-spinner name="bubbles" slot="start"></ion-spinner>
    <ion-label> Tentative de connexion à internet... </ion-label>
  </ion-item>
</form>
