<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start" class="d-none">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Map Traking</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <capacitor-google-map #map></capacitor-google-map>
</ion-content>

<ion-modal
  [isOpen]="isModalOpen"
  [initialBreakpoint]="0.18"
  breakpoints="[0, 0.25, 0.5, 0.75]"
  handleBehavior="cycle"
>
  <ng-template>
    <ion-content class="ion-padding">
      <div class="ion-margin-top">
        <ion-item>
          <h2 class="mb-4">
            Concerné :
            <span style="margin-left: 5px"> <b>{{ maps.title }}</b> </span>
          </h2>
        </ion-item>
        <ion-item>
          <h2 class="mb-4">
            Localisation :
            <span style="margin-left: 5px"> <b>{{emplacement}}</b> </span>
          </h2>
        </ion-item>
        <ion-item>
          <h2 class="mb-4">
            Bus plus proche :
            <span style="margin-left: 5px"> <b>{{dist.bus}}</b> </span>
          </h2>
        </ion-item>
        <ion-item>
          <h2 class="mb-4">
            Chauffeur :
            <span style="margin-left: 5px"> <b>{{dist.driver}}</b> </span>
          </h2>
        </ion-item>
        <ion-item>
          <h2 class="mb-4">
            Distance :
            <span style="margin-left: 5px"> <b>{{dist.distance}}</b> </span> Km
          </h2>
        </ion-item>
        <ion-item>
          <h2 class="mb-4">
            Heure départ :
            <span style="margin-left: 5px">
              <b> 06 heures 15 minutes </b>
            </span>
          </h2>
        </ion-item>
        <ion-item>
          <h2 class="mb-4">
            <img [src]="dist.image" alt="" srcset="" />
          </h2>
        </ion-item>
        <ion-item>
          <ion-button expand="block" (click)="fermer()">Fermer</ion-button>
        </ion-item>
      </div>
    </ion-content>
  </ng-template>
</ion-modal>
