<ion-content class="ion-page">
  <div class="container-fluid" *ngIf="isConnected">
    <div class="text-header"></div>
    <div class="text-sub-header"></div>

    <div class="form-login">
      <div>
        <img src="assets/icon/favicon.png" alt="" srcset="" />
      </div>
      <form [formGroup]="login" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
          <ion-input
            label="Identifiant"
            type="text"
            label-placement="floating"
            fill="outline"
            placeholder=""
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="username"
          ></ion-input>
          <span
            *ngIf="this.login.controls?.username.touched && this.login.controls?.username.invalid"
          >
            <div
              class="ion-padding"
              *ngIf="this.login.controls?.username.errors?.required"
            >
              <ion-text color="danger">.</ion-text>
            </div>
            <div
              class="ion-padding"
              color="danger"
              *ngIf="this.login.controls?.username.errors?.minlength"
            >
              <ion-text color="danger"
                >Renseignez au moins 06 caractères.</ion-text
              >
            </div>
            <div
              class="ion-padding"
              color="danger"
              *ngIf="this.login.controls?.username.errors?.maxlength"
            >
              <ion-text color="danger"
                >Renseignez au plus 20 caractères.</ion-text
              >
            </div>
          </span>
        </div>
        <div class="form-group">
          <ion-input
            label="Mot de Passe"
            type="password"
            label-placement="floating"
            fill="outline"
            placeholder="Enter your password...."
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="password"
          ></ion-input>
          <span
            *ngIf="this.login.controls?.password.touched && this.login.controls?.password.invalid"
          >
            <div
              class="ion-padding"
              *ngIf="this.login.controls?.password.errors?.required"
            >
              <ion-text color="danger"
                >Désolé mais ce champs est obligatoire.</ion-text
              >
            </div>
            <div
              class="ion-padding"
              color="danger"
              *ngIf="this.login.controls?.password.errors?.maxlength"
            >
              <ion-text color="danger"
                >Renseignez au plus 20 caractères.</ion-text
              >
            </div>
          </span>
        </div>
        <div class="form-group">
          <ion-select
            label="Type Compte"
            label-placement="floating"
            fill="outline"
            formControlName="collection"
          >
            <ion-select-option value="student">Etudiant(e)</ion-select-option>
            <ion-select-option value="admin">Administrateur</ion-select-option>
            <ion-select-option value="driver">Chauffeur</ion-select-option>
          </ion-select>
        </div>

        <div>
          <ion-checkbox labelPlacement="end">Se souvenir de moi</ion-checkbox>
          <span color="primary" class="ending" [routerLink]="['/forgot']">
            Mot de passe Oublié?
          </span>
        </div>

        <ion-button expand="block" type="submit">
          Connexion <ion-icon name="log-in-outline"></ion-icon>
        </ion-button>
      </form>
    </div>
  </div>

  <div class="container-fluid" *ngIf="!isConnected">
    <div class="text-header">
      <ion-skeleton-text
        [animated]="true"
        style="width: 70%; height: 250px; margin-left: 15%; border-radius: 50%"
      ></ion-skeleton-text>
    </div>

    <div class="form-login">
      <form [formGroup]="login" (ngSubmit)="submitForm()" novalidate>
        <div class="form-group">
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%; height: 50px"
          ></ion-skeleton-text>
        </div>
        <div class="form-group">
          <ion-skeleton-text
            [animated]="true"
            style="width: 100%; height: 50px"
          ></ion-skeleton-text>
        </div>

        <div style="display: flex">
          <ion-skeleton-text
            [animated]="true"
            style="width: 5%; height: 18px"
          ></ion-skeleton-text>

          <ion-skeleton-text
            [animated]="true"
            style="width: 35%; height: 18px; margin-left: 4%"
          ></ion-skeleton-text>

          <ion-skeleton-text
            [animated]="true"
            style="width: 40%; height: 18px; margin-left: 15%"
          ></ion-skeleton-text>
        </div>

        <ion-skeleton-text
          [animated]="true"
          style="width: 100%; height: 50px; margin-top: 2.1rem"
        ></ion-skeleton-text>

        <div class="footer-text">
          <ion-skeleton-text
            [animated]="true"
            style="width: 80%; margin-top: 1rem; margin-left: 10%"
          ></ion-skeleton-text>
        </div>
      </form>
    </div>
  </div>
</ion-content>
