<ion-content>
  <div class="container-fluid">
    <div class="text-header">Hello, welcome 👋</div>
    <div class="text-sub-header">First, let's create your account.</div>

    <div class="form-login">
      <form [formGroup]="register" (ngSubmit)="submitForm()">
        <div class="form-group">
          <ion-input
            label="Full Name"
            type="text"
            label-placement="floating"
            fill="outline"
            placeholder="Nanyang Brice"
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="fullname"
          ></ion-input>
        </div>

        <div class="form-group">
          <ion-input
            label="Email Adress"
            type="email"
            label-placement="floating"
            n
            fill="outline"
            placeholder="nanyangbrice@gmail.com"
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="email"
          ></ion-input>
        </div>

        <div class="form-group">
          <ion-input
            label="Phone Contact"
            type="number"
            label-placement="floating"
            fill="outline"
            placeholder="657807309"
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            value="6"
            maxlength="9"
            minlength="9"
            formControlName="phone"
          ></ion-input>
        </div>

        <div class="form-group">
          <ion-input
            label="Full Name"
            type="text"
            label-placement="floating"
            fill="outline"
            placeholder="Nanyang Brice"
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="fullname"
          ></ion-input>
        </div>

        <div class="form-group">
          <ion-select
            label="User Profil"
            label-placement="floating"
            fill="outline"
            multiple="false"
            placeholder="ex : Student"
            formControlName="account"
          >
            <ion-select-option value="student">Student</ion-select-option>
            <ion-select-option value="driver">Driver</ion-select-option>
            <ion-select-option value="admin">Administrator</ion-select-option>
          </ion-select>
        </div>

        <div class="form-group" *ngIf="isTrue">
          <ion-input
            label="Username"
            type="text"
            label-placement="floating"
            fill="outline"
            placeholder="2223i393"
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="username"
          ></ion-input>
        </div>
        <!-- <div class="form-group">
          <ion-input
            label="Password"
            type="password"
            label-placement="floating"
            fill="outline"
            placeholder="***************"
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="password"
          ></ion-input>
        </div>
        <div class="form-group">
          <ion-input
            label="Confirm Password"
            type="password"
            label-placement="floating"
            fill="outline"
            placeholder="***************"
            [clearInput]="true"
            autocomplete="off"
            autocorrect="on"
            formControlName="confirmPassword"
          ></ion-input>
        </div> -->

        <ion-button expand="block" type="submit"
          >Register <ion-icon name="log-in-outline"></ion-icon
        ></ion-button>

        <div class="footer-text">
          Already have an account?
          <span color="primary" routerLink="/login"> Login</span>
        </div>
      </form>
    </div>
  </div>
</ion-content>
