<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-grid fixed>
      <ion-row>
        <div class="img-header">
          <ion-menu-button>
            <img src="assets/avatars/1.png" alt="" srcset="" />
          </ion-menu-button>
        </div>
        <div class="img-text-header">
          <span class="journee"> Brice Nanyang </span>
          <p>
            <span class="salutation"> Etudiant </span>
          </p>
        </div>

        <div class="grid">
          <ion-icon name="cloud-upload-outline" class="custom-icon"></ion-icon>
          <!-- <span class="custom-badge">5</span> -->
        </div>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>
