ion-header {
  --border: none;
  --background-color: transparent;

  ion-toolbar {
    padding: 2%;
    --border: none;
    --background-color: transparent;

    ion-grid {
      --border: none;

      ion-row {
        .img-header {
          img {
            width: 40px;
            height: 40px;
            border-radius: 2rem;
            margin-right: 8px;
          }
        }

        .img-text-header {
          padding: 0;

          p {
            font-size: 1rem;
            margin-top: 0px;
            margin-bottom: 0;
            margin-left: 0;
            margin-right: 0;
            padding: 0;
            font-weight: 200;

            .salutation {
              color: var(--ion-color-medium);
              font-size: 0.8rem;
            }
          }
          .journee {
            font-size: 0.85rem;
          }
        }

        .grid {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: var(--ion-color-light);
          border-radius: 2rem;
          font-size: 20px;
          margin-left: auto;
          margin-top: 2.5px;
          color: var(--ion-color-dark);
        }

        .custom-icon {
          position: relative;
        }

        .custom-badge {
          position: absolute;
          top: 0;
          right: 0;
          background-color: red; // Customize the badge background color
          color: white; // Customize the badge text color
          border-radius: 50%;
          padding: 4px 8px; // Adjust padding as needed
          font-size: 12px; // Customize the badge font size
        }
      }

      .row-search {
        margin-top: 5px;

        ion-col {
          ion-item {
            border-radius: 10px;
            border: 1px solid var(--ion-color-medium);
            --height: 16px;
            --ion-background-color: transparent;

            ion-icon {
              font-size: 1.8rem;
              margin-right: 10px;
            }
          }

          .grid1 {
            width: 100%;
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--ion-color-primary);
            border-radius: 10px;
            margin-top: 6.5px;
            font-size: 1.35rem;
            color: #fff;
          }
        }
      }
    }
  }
}

ion-content {
  .container-fluid {
    padding: 2%;
    margin-top: 20px;

    ion-grid {
      ion-row {
        ion-col {
          padding: 1%;

          ion-card {
            height: 20vh;
            width: auto;
            border: none;
            box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
            text-align: center !important;
            font-weight: bold;
            text-transform: capitalize;
            font-size: 1.3rem;

            ion-card-content {
              display: flex;
              align-items: center;
              justify-content: center;

              img {
                width: 90px;
                height: 90px;
                display: block;
                margin: 0 auto; /* Pour centrer l'image horizontalement si nécessaire */
              }
            }
          }
        }
      }
    }
  }
}
